.self-assessment{
    background: white;
}
.service-header{
    padding: 10px 0px 5px 10px;
    span{
        color:red;
    }
}
.technology-table{
    border:1px solid #999;
}
.table-header{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #999;
    background: rgb(252, 248, 34);
}
.br{
    border-right: 1px solid #999;
}
.table-physics{
    border-bottom: 1px solid #999;
}
.physics-name{
    padding: 20px 10px 0px 10px;
    text-align: center;
}

.physics-type{
    border-left:1px solid #999;
    border-right: 1px solid #999;
}
.physics-tr-steal{
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #999;
    text-align: center;
}
.physics-keep{
    height: 80px;
    line-height: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #999;
    text-align: center;
}
.service-tr-name{
    height: 80px;
    padding-top: 30px;
    text-align: center;
}
.steal-content{
    height: 80px;
    line-height: 40px;
    text-align: center;
}
.physics-tr-last{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.network-structure{
    height: 120px;
    line-height: 120px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.safety-program{
    height: 300px;
    line-height: 300px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.safety-program-last{
    height: 300px;
    line-height: 300px;
    text-align: center;
}
.network-structure-last{
    height: 120px;
    line-height: 120px;
    text-align: center;
}
.network-visit{
    height: 160px;
    line-height: 160px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-visit-last{
    height: 160px;
    line-height: 160px;
    text-align: center;
}
.network-tr-steal{
    height: 340px;
    line-height: 200px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-equipment{
    height: 160px;
    line-height: 160px;
    text-align: center;
}
.physics-tr{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #999;
    text-align: center;
}
.visit-tr{
    height: 60px;
    line-height: 18px;
    text-align:center;
    padding-top: 10px;
    border-bottom: 1px solid #999;
}
.spite-tr{
    height: 80px;
    line-height: 18px;
    padding-top: 10px;
    border-bottom: 1px solid #999;
    text-align: center;
}
.precaution-tr{
    height: 60px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.issue-tr{
    height: 100px;
    text-align: center;
}
.employ-tr{
    height: 100px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.environment-tr{
    height: 280px;
    line-height: 200px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.formulate-tr{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.formulate-tr-last{
    height: 50px;
    padding-top: 10px;
}
.visit-tr-es{
    height: 60px;
    line-height: 18px;
    text-align:center;
    padding-top: 10px;
    border-bottom: 1px solid #999;
}
.visit-tr-last{
    height: 60px;
    line-height: 18px;
    text-align:center;
    padding-top: 10px;
}
.visit-tr-last-es{
    height: 60px;
    line-height: 18px;
    text-align:center;
    padding-top: 10px;
}
.visit-tr-last-case{
    height: 60px;
    line-height: 18px;
    text-align:center;
    padding-top: 10px;
}
.issue-tr-name{
    height: 100px;
    padding-top: 30px;
    text-align: center;
}
.employ-tr-name{
    height: 100px;
    padding-top: 30px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.employ-tr-name-last{
    height: 100px;
    padding-top: 30px;
    text-align: center;
}
.safe-visit{
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.safe-visit-last{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.precaution-tr-last{
    height: 60px;
    padding-top: 10px;
    text-align: center;
}
.precaution-tr-steal{
    height: 200px;
    line-height: 200px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.text-left{
    text-align: left !important;
}
.back-up{
    padding: 20px 10px;
    text-align: center;
}
.back-recover{
    height: 121px;
    padding-top: 40px;
    text-align: center;
}
.network-design{
    padding-top: 100px;
    height: 240px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-design-last{
    padding-top: 100px;
    height: 240px;
    text-align: center;
}
.network-design-esal{
    padding-top: 100px;
    height: 260px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-medium{
    padding-top: 100px;
    height: 380px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-environment{
    padding-top: 100px;
    height: 320px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-medium-last{
    padding-top: 100px;
    height: 380px;
    text-align: center;
}
.monitoring-tr{
    height: 180px;
    line-height: 180px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.monitoring-tr-last{
    height: 180px;
    line-height: 180px;
    text-align: center;
}
.network-safe{
    height: 400px;
    padding-top: 100px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-safe-steal{
    height: 500px;
    padding-top: 100px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.network-medium-steal{
    padding-top: 100px;
    height: 440px;
    text-align: center;
    border-bottom: 1px solid #999;
}
.safety-warn-last{
    padding-top: 100px;
    height: 360px;
    text-align: center;
}
